body {
  margin: 0px;
  padding: 0px;
}
.ONE {
  /*border: 1px  solid black;*/
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.stl {
  height: 300px;
  width: 170px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
}
.decore {
  font-size: 16px;
  font-style: normal;
  padding: 10px;
  /*decore:hover
    {
    }*/
}
.peripheral:hover {
  color: coral;
  transition: all 1s;
}
.images {
  width: 100px;
  height: 100px;
  padding: 20px;
  object-fit: contain;
}
.info {
  padding: 5px;
  font-size: 10px;
}
.style2 {
  margin-top: 120px;
}
.style3 {
  margin-top: 240px;
}
